@import "../../index.scss";

section#details {
  font-family: $fontprimary;
  padding: 24px;
  color: $textcolor;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .content-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    h2 {
      font-size: 24px;
      font-weight: 500;
    }

    .text-child {
      margin-left: 24px;
      display: flex;
      gap: 12px;
      align-items: center;
    }

    .container {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}
