@import "../../index.scss";

section#editprofile {
  font-family: $fontprimary;
  padding: 24px;
  color: $textcolor;
  display: flex;
  flex-direction: column;
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
      background: $secondcolor;
      color: $textcolor;
      padding: 12px;
      width: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    textarea {
      @extend input;
      height: 200px;
    }

    .form-input {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondcolor;
    padding: 12px;
    border-radius: 14px;
    font-weight: 500;
    color: $textcolor;
    font-size: 16px;
    height: 45px;
    width: 80px;
    margin-top: 24px;
  }
}
