@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

$fontprimary: "Poppins";
$colorPrimary: #181d2d;
$secondcolor: #2a3a55;
$textcolor: #c7cad3;
$semifontcolor: #d9d9d9;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
